*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
}

.calc-container{
    box-shadow: 0px 29px 52px 0 px rgba(46, 46, 46, 0.4), 0px 25px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    background-color: rgb(26, 26, 26);
}

#display{
    width: 100%;
    height: 85px;
    font-size: 60px;
    padding: 20px;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
}

button{
    transition: 0.3s;
    border: none;
    border-color: rgb(39, 37, 37);
    color: #6e6a6a;
    padding: 10px;
    margin: 5px;
    font-size: 23px;
    box-shadow: 5px 5px 5px rgb(24, 24, 24);
    border-radius: 8px;
    border: 1px rgba(211, 211, 211, 0.11) solid;
}

button:hover{
    transition: 0.3s;
}

.btns{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row-buttons * {
    width: 80px;
    height: 60px;
}

.row-buttons:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.2s;
}
.row-buttons *:last-child{
    background-color: rgb(27, 27, 27);
}

.functions * {
    width: 175px;
    height: 60px;
}

.functions #clear-button{
    transition: 0.3s;
    letter-spacing: 2px;
}

.functions #clear-button:hover{
    background-color: rgb(228, 105, 48);
    letter-spacing: 5px;
    transition: 0.3s;
}

.functions #result-button{
    background-color: greenyellow;
    color: black;
}

::placeholder{
    color: rgba(83, 62, 62, 0.205);
    font-size: 25px;
    text-align: center;
}

@media only screen and (max-width:600px){
    .calc-container{
        width: 350px;
    }
    #dislay{
        font-size: 50px;
        font-weight: 600;
        height: 90px;
    }
    button{
        padding: 5px;
        margin: 5px;
        font-size: 20px;
    }
    .row-buttons{
        width: 68px;
        height: 50px;
    }
    ::placeholder{
        font-size: 23px;
    }
    .functions *{
        width: 150px;
        height: 50px;
    }
}